debug: false

# maximum wait for a response to any API request (secs)
timeout_req: 60

# maximum wait for a meeting to be ended after end_meeting is called (secs)
timeout_ending: 30

# maximum wait until the bot starts (secs)
timeout_bot_start: 60

servers:
  test-install:
    url: 'http://test-install.blindsidenetworks.com/bigbluebutton/api'
    secret: '8cd8ef52e8e101574e400365b55e11a6'
  bbb-other:
    url: 'http://yourserver.com/bigbluebutton/api'
    secret: 'lka98f52e8akdlsoie400365b55e98s7'
