debug: false

# maximum wait for a response to any API request (secs)
timeout_req: 60

# maximum wait for a meeting to be ended after end_meeting is called (secs)
timeout_ending: 30

# maximum wait until the bot starts (secs)
timeout_bot_start: 60

servers:
  test-install-081:
    salt: '8cd8ef52e8e101574e400365b55e11a6'
    url: 'http://test-install.blindsidenetworks.com/bigbluebutton/api'
    version: '0.81'
    mobile_salt: '03b07' # needed for >= 0.8
  bbb-08:
    salt: 'lka98f52e8akdlsoie400365b55e98s7'
    url: 'http://yourserver.com/bigbluebutton/api'
    version: '0.8'
    mobile_salt: '03b07' # needed for >= 0.8
